<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Corben|Fredericka+the+Great|Gruppo|Zilla+Slab+Highlight" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Ratings</title>
</head>

<style>

* {
    font-family: 'gruppo', cursive;
}

    .col {
        margin-top: 4%;
        width: 33%;
        float: left;
    }

    .ubr {
        border: 3px ridge rgb(242, 247, 248);
        background: none;
        width: 85%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
        height: 120px;
        padding: 2.5%;
        float: left;
    }

    .ruser {
        background: rgb(224, 242, 248);
        border-bottom: 3px ridge white;
        font-size: 20px;
        text-align: left;
        padding: 5px;
        padding-left: 10px;
    }

    .remail {
        font-size: 15px;
        color: rgb(83, 148, 170);
        padding: 3px;
        padding-right: 10px;
        border-top-right-radius: 50%;
        float: right;
    }

    .rrating {
        margin: 10px;
        background: none;
    }

    .rtext {
        width: 300px;
        border-top: 3px double rgb(245, 251, 253);
        padding-top: 12px;
    }

    .reviewstar {
        height: 15px;
    }


</style>

<body>

          <div id='ubReviews'>

            <div class='col col1'>
            
            <div class='ubr' id='rev1'>
                <div class='ruser'>User {{jobsusername}}
                <span class='remail'>email@fake.com {{email}}</span></div>
                <div class='rrating'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                </div>
                <div class='rtext'>So glad I decided to hire Patricia, I have lost 30lbs and feel healthier and
                    stronger.</div>
            </div>
            <div class='ubr' id='rev2'>
                <div class='ruser'>User {{jobsusername}}
                <span class='remail'>email@fake.com {{email}}</span></div>
                <div class='rrating'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                    <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                </div>
                <div class='rtext'></div>I always leave my sessions with Patricia, exhausted, but knowing that I gave
                my all.
            </div>

       
        <div class='ubr' id='rev3'>
            <div class='ruser'>User {{jobsusername}}
            <span class='remail'>email@fake.com {{email}}</span></div>
            <div class='rrating'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
            </div>
            <div class='rtext'></div>Patricia is awesome, if you need a trainer look no further
        </div>

        </div>
        {{!-- end col1 --}}

        <div class='col col2'>

        <div class='ubr' id='rev4'>
            <div class='ruser'>User {{jobsusername}}
            <span class='remail'>email@fake.com {{email}}</span></div>
            <div class='rrating'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
            </div>
            <div class='rtext'></div>Ex employee here! I quit after a week, Patty was just too mean, she scares me :)
        </div>

        <div class='ubr' id='rev5'>
            <div class='ruser'>User {{jobsusername}}
            <span class='remail'>email@fake.com {{email}}</span></div>
            <div class='rrating'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
            </div>
            <div class='rtext'></div>Great combination of cardio workouts and strength
        </div>

        <div class='ubr' id='rev6'>
            <div class='ruser'>User {{jobsusername}}
            <span class='remail'>email@fake.com {{email}}</span></div>
            <div class='rrating'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
            </div>
            <div class='rtext'></div>Check out my abs now…..
        </div>

        </div>
        {{!-- end col2 --}}

        <div class='col col3'>

        <div class='ubr' id='rev7'>
            <div class='ruser'>User {{jobsusername}}
            <span class='remail'>email@fake.com {{email}}</span></div>
            <div class='rrating'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
            </div>
            <div class='rtext'></div>Is it summer yet, I can wait to show off my beach body !!!
        </div>

        <div class='ubr' id='rev8'>
            <div class='ruser'>User {{jobsusername}}
            <span class='remail'>email@fake.com {{email}}</span></div>
            <div class='rrating'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
                <img src='https://i.imgur.com/vwpthwu.png' class='reviewstar'>
            </div>
            <div class='rtext'></div>Great combination of cardio workouts and strength
        </div>

        </div>
        {{!-- end col3 --}}

        </div>





    <script type='text/javascript'>
        console.log('BUSINESS-REVIEWS: A business user will be directed to this page when they want to view their ratings and reviews.')
    </script>
</body>

</html>