<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gig-getter User Home Page</title>

    <link rel="stylesheet" href="/assets/css/userHome.css">


</head>

{{!-- <style>
    * {
        font-family: 'gruppo', cursive;
    }

    /*total width of columns= 84% ; negative space = 16% */
    .column {
        float: left;
        margin-top: 4%;
    }

    #leftcolumn {
        width: 37%;
        margin-left: 6%;
        margin-right: 2%;
    }

    #rightcolumn {
        width: 47%;
        margin-right: 6%;
        margin-left: 2%;
    }

    /* Display username, email, and image in upper left area of the page*/
    #userDisplayName {
        border: 3px dashed rgb(188, 248, 186);
        border-top-left-radius: 100%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    #namedisplay {
        font-size: 40px;
        color: rgb(49, 136, 165);
    }

    #emaildisplay {
        font-size: 30px;
        color: rgb(177, 225, 241);
        padding-left: 15px;
    }

    /* Styles for tables: user-reviews and user-jobs */
    #user-reviews {
        margin-top: 12%;
    }

    .colHead {
        color: rgb(49, 136, 165);
        font-weight: bold;
        border-bottom: 1px ridge rgb(183, 232, 248);
        padding: 5px;
    }

    .tableHead {
        font-size: 30px;
        font-weight: bold;
        color: rgb(49, 136, 165);
        border-top: 3px dashed rgb(177, 225, 241);
    }

    .rateItem,
    .jobItem {
        border-bottom: 1px ridge rgb(230, 248, 253);
        padding-left: 8px;
        height: 30px;
        color: rgb(8, 8, 59);
    }

    .costcell {
        color: blue;
    }

    #reviewHead {
        border-left: 3px ridge rgb(177, 225, 241);
        border-top-right-radius: 100%;
        padding-left: 8px;
    }

    .ratetable {
        float: left;
        width: 30%;
    }

    #jobHead {
        text-align: right;
        border-right: 3px ridge rgb(177, 225, 241);
        border-top-left-radius: 100%;
        padding-right: 8px;
    }

    .jobtable {
        width: 25%;
        float: left;
    }

    .cell {
        padding-bottom: 5px;
    }

    /* styling for Jobs table, column 4 buttons */
    .cellbtn {
        height: 20px;
        width: 60px;
        margin: 5px;
        color: rgb(6, 35, 43);
        text-shadow: 1px 1px white;
    }

    .ratenow {
        color: rgb(24, 54, 63);
        text-shadow: 1px 1px rgb(212, 236, 243);
    }

    .ratenow:hover {
        color: white;
        border: none;
        padding: 5px;
    }

    .accept {
        border: 2px groove rgb(206, 253, 205);
        background: rgb(188, 248, 186);
    }

    .accept:hover {
        color: rgb(157, 252, 157);
    }

    .deny {
        border: 2px groove rgb(255, 246, 246);
        background: rgb(255, 238, 238);
    }

    .deny:hover {
        color: rgb(247, 196, 196);
    }

    .cellbtn:hover {
        background: rgb(34, 121, 143);
        text-shadow: none;
        border-style: ridge;
    }

    /* styling for images on user-home page */
    #dividerImg {
        width: 100%;
    }

    .ratestar,
    .checkmark {
        height: 15px;
    }

    #userdisplayimage {
        height: 80px;
    }
</style> --}}

<body>

    {{!-- Creating two columns inside a row --}}
    <div class="row">

        {{!-- LEFT COLUMN: displays username, email, and reviews table --}}
        <div class="column" id='leftcolumn'>

            {{!-- Div for username and email --}}
            <div id='userDisplayName'>
                <h3 id='namedisplay'><img src="https://i.imgur.com/ITgiiKr.png" id='userdisplayimage'>
                    {{user.username}} </h3>
                <h4 id='emaildisplay'>{{user.email}}</h4>
            </div>

            {{!-- Div for table of user reviews --}}
            <div id='user-reviews'>
                <div id='reviewHead' class='tableHead'>My Reviews</div><br>
                <div class="row">
                    {{!-- Review Table Column 1: Business Name --}}
                    <div class="col ratetable">
                        <div id='ratenames' class='colHead'>Business Name</div><br>
                    </div>
                    {{!-- Review Table Column 2: Number Rating (aka Star Rating) --}}
                    <div class="col ratetable">
                        <div id='ratenums' class='colHead'>Star Rating</div><br>
                        {{!-- <div class='rateItem cell'> <img src='https://i.imgur.com/vwpthwu.png' class='ratestar'><img
                                src='https://i.imgur.com/vwpthwu.png' class='ratestar'><img src='https://i.imgur.com/vwpthwu.png'
                                class='ratestar'>
                            {{rating-one}}</div><br>
                        <div class='rateItem cell'> <img src='https://i.imgur.com/vwpthwu.png' class='ratestar'><img
                                src='https://i.imgur.com/vwpthwu.png' class='ratestar'><img src='https://i.imgur.com/vwpthwu.png'
                                class='ratestar'><img src='https://i.imgur.com/vwpthwu.png' class='ratestar'>
                            {{rating-two}}</div><br>
                        <div class='rateItem cell'> <img src='https://i.imgur.com/vwpthwu.png' class='ratestar'><img
                                src='https://i.imgur.com/vwpthwu.png' class='ratestar'><img src='https://i.imgur.com/vwpthwu.png'
                                class='ratestar'><img src='https://i.imgur.com/vwpthwu.png' class='ratestar'>
                            {{rating-two}}</div><br> --}}
                    </div>

                    {{!-- Review Table Column 3: Detailed Review Text --}}
                    <div class="col ratetable">
                        <div id='ratetext' class='colHead'>Review</div><br>
                    </div>
                </div>
            </div>
        </div>

        {{!-- RIGHT COLUMN: to display jobs table --}}
        <div class="column" id='rightcolumn'>

            <div id='user-jobs'>
                <div id='jobHead' class='tableHead'>My jobs</div><br>
                <div class="row">
                    {{!-- Job Table Column 1: Business Name, "Gig" --}}
                    <div class="col jobtable">
                        <div id='jobnames' class='colHead'>Gig</div><br>
                    </div>

                    {{!-- Job Table Column 2: Quotes / Cost, "Estimate"--}}
                    <div class="col jobtable">
                        <div id='jobnums' class='colHead'>Estimate</div><br>
                    </div>

                    {{!-- Job Table Column 3: Job Status--}}
                    <div class="col jobtable">
                        <div id='jscol' class='colHead'>Status</div><br>
                    </div>

                    {{!-- Job Table Column 4: user takes action --}}
                    <div class="col jobtable">
                        <div id='jobtext' class='colHead'>Action</div><br>
                    </div>

                </div>
            </div>

            <img src='https://i.imgur.com/l1D9tyu.png' id='dividerImg'>

            {{!--
            For Jobs Table, we need a function to determine which businesses the user has requested quotes from
            AND we need to know if these specific businesses have returned a quote or not.

            If this.business returned a quote:
            1. In mySql, "jobs.jobStatus" should be "Confirmation needed"
            2. we need to display the quote in column 2: "Estimate"
            3. we need to display job status in column 3 as "Confirmation needed"
            4. we need to generate buttons ".accept" and ".deny" in column 4 for the user to respond.
            -.accept Button will:
            1. Update "jobs.jobStatus" in mySql to "Completed"
            2. Refresh this userhome page
            3. Display new job status "Completed" AND img src='https://i.imgur.com/goSfMfs.png' with class='checkmark'
            in Column 3 on this page
            4. Update Column 4 to a ".ratenow" button
            ---> .ratenow btn saves this.business params and redirects to user-review.handlebars
            -.deny Button will:
            1. Update "jobs.jobStatus" in mySql to "Cancelled"
            2. Refresh this userhome page
            3. Display new job status "cancelled" in Column 3 on this page
            4. Update Column 4 to be blank.

            If this.business has NOT returned a quote yet:
            1. In mySql, "jobs.jobStatus" should be "Pending"
            2. we need to display "Quote Requested" in column 2: "Estimate"
            3. we need to display current job status "pending" in column 3
            4. Column 4, the action column, should be empty
            --}}

        </div>
    </div>

    {{!-- Ajax call to get all business info for the specified business and dynamically construct the jobs table --}}
    <script>

        $.ajax({
            //url: 'http://localhost:3000/users/allinfo/2',
            url: 'http://localhost:3000/users/allinfo/{{user.userId}}',

            method: 'GET'
        }).then(function (data) {

            console.log(data);

            for (var count=5;count>0;count--) {
                var lastFiveReviews = Object.values(data)[Object.values(data).length - count];
                console.log("Last "+count+": ", lastFiveReviews.review);

                // Ratings table
                if (lastFiveReviews.review !== "") {
                    rbusinessrow = $('<div>')
                        $(rbusinessrow).html(lastFiveReviews.business_name)
                        $(rbusinessrow).attr('class', 'rateItem cell')
                        $("#ratenames").append(rbusinessrow)

                    console.log("business name: " + lastFiveReviews.business_name)
                    console.log("rating: " + lastFiveReviews.rating)
                    console.log("review: " + lastFiveReviews.review)

                    //display rating in stars
                    var ratingimg;
                    for (var i = 1; i <= parseInt(lastFiveReviews.rating); i++) {
                        ratingimg = $('<div>')
                        $(ratingimg).attr('class', 'ratestar')
                        ratingimg.append("<img src='https://i.imgur.com/vwpthwu.png'");
                        //console.log("ratingimg: ", ratingimg);
                    }

                    //Display Rating
                    rratingrow = $('<div>')
                    //$(rbusinessrow).html(ratingimg)
                    $(rratingrow).html(lastFiveReviews.rating)
                    $(rratingrow).attr('class', 'rateItem cell')
                    $("#ratenums").append(rratingrow)

                    //Display reviews
                    rreviewrow = $('<div>')
                    $(rreviewrow).html(lastFiveReviews.review.substring(0, 15)+"...")
                    $(rreviewrow).attr('class', 'rateItem cell')
                    $("#ratetext").append(rreviewrow)
                }
            }

            var tcatrow;
            var tcostrow;
            var tjsrow;
            var jobStatusText = "";
            var jobAction = "";
            var jobId;

            $.each(data, function (i, data) {

                // if else statements based on jobStatus to determine what to display
                if (parseInt(data.jobStatus) === 1) {
                    jobStatusText = "Quote Requested";
                    jobAction = "<a href='/user-review' class='cellbtn ratenow'>Rate</a>"
                }
                else if (parseInt(data.jobStatus) === 2) {
                    jobStatusText = "Confirmation Needed"
                    jobAction = "<button class='cellbtn accept'>Accept</button><button class='cellbtn deny'>Deny</button>"
                }
                else if (parseInt(data.jobStatus) === 3) {
                    jobStatusText = "<div class='jobItem cell'> Completed <img class='checkmark' src='https://i.imgur.com/goSfMfs.png'></div>"
                    jobAction = "<a href='/user-review' class='cellbtn ratenow'>Rate</a>"
                }
                else if (parseInt(data.jobStatus) === 4) {
                    jobStatusText = "Cancelled"
                    jobAction = "NA"
                }

                // construct the div to display the gig category
                tcatrow = $('<div>'),
                    $(tcatrow).html(data.business_name),
                    $(tcatrow).attr('class', 'jobItem cell'),
                    $("#jobnames").append(tcatrow),

                    // construct the div to display the job status
                    tjsrow = $('<div>'),
                    $(tjsrow).html(jobStatusText),
                    $(tjsrow).attr('class', 'jobItem cell'),
                    $("#jscol").append(tjsrow)

                // display job cost in the table
                tcostrow = $('<div>')
                $(tcostrow).html(data.cost)
                $(tcostrow).attr('class', 'costcell jobItem cell')
                $("#jobnums").append(tcostrow)

                // display Job Action in the table
                tactionrow = $('<div>')
                $(tactionrow).html(jobAction)
                $(tactionrow).attr('class', 'jobItem cell')
                $("#jobtext").append(tactionrow)
            });
        });
    </script>

    <script type='text/javascript'>
        console.log('USERHOME: This is the homepage/profile for non-business users.');
    </script>
</body>

</html>